<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>AuthorPublisherResults</title>
<link rel="stylesheet" media="screen" type="text/css"
	th:href="@{/css/authorPublisherResults.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
	function sendItemID(id) {
		console.log(id);
		var itemid = id;
		$("#id").val(itemid);
		$("#send").submit();
	}
</script>
</head>

<body class="body" style="background-color: #f6f6f6">
	<form id="send" th:action="@{/viewItem}" method="POST">
		<input type="hidden" name="id" id="id" />
	</form>

	<div class="nav">
		<ul>
			<li><a th:href="@{/home}">Home</a></li>
			<li><a th:href="@{/displaybooks}">Books</a></li>
			<li><a th:href="@{/displayMagazines}">Magazines</a></li>
			<li><a th:href="@{/displayTheses}">Theses</a></li>
			<li><a th:href="@{/displayMeetingRooms}">Rooms</a></li>
			<li><a th:href="@{/displayAuthors}">Authors</a></li>
			<li><a th:href="@{/displayPublishers}">Publishers</a></li>
			<li style="float: right"><a href="viewAccount"><span
					th:text="${user.username}"></span></a>
			<li style="float: right">
				<form action="search">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search"
							name="search">
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>
					</div>
				</form>
			</li>
		</ul>
	</div>

	<div class="Part1">
		<div class="container">
			<div class="category">
				<h2 id="shsh2">Author/Publisher Resulting Page</h2>
				<br> </br> <label for="sortBy">&nbsp;&nbsp;Filter by:&nbsp;</label>
				<label><input type="checkbox" value="">Books</label> <label><input
					type="checkbox" value="">Magazines</label> <label><input
					type="checkbox" value="">Theses</label>
			</div>
		</div>
	</div>
	<br>
	</br>

	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<span style="cursor: pointer">
					<div class="my-list" th:id="${items}"
						th:onclick="'sendItemID(\''+ ${items[0].id} +'\');'">
						<img th:src="@{/images/Book1.jpg}" height="180" />
						<h3 th:text="${items[0].itemName}"></h3>
						<span th:text="${items[0].author}"></span> <span
							class="pull-right" th:text="${items[0].yearPublished}"></span>
					</div>
				</span>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<span style="cursor: pointer">
					<div class="my-list" th:id="${items}"
						th:onclick="'sendItemID(\''+ ${items[1].id} +'\');'">
						<img th:src="@{/images/Thesis1.jpg}" height="180" />
						<h3 th:text="${items[1].itemName}"></h3>
						<span th:text="${items[1].author}"></span> <span
							class="pull-right" th:text="${items[1].yearPublished}"></span>
					</div>
				</span>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<span style="cursor: pointer">
					<div class="my-list" th:id="${items}"
						th:onclick="'sendItemID(\''+ ${items[2].id} +'\');'">
						<img th:src="@{/images/Mag2.jpg}" height="180" />
						<h3 th:text="${items[2].itemName}"></h3>
						<span th:text="${items[2].author}"></span> <span
							class="pull-right" th:text="${items[2].yearPublished}"></span>
					</div>
				</span>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<span style="cursor: pointer">
					<div class="my-list" th:id="${items}"
						th:onclick="'sendItemID(\''+ ${items[3].id} +'\');'">
						<img th:src="@{/images/Mag1.jpg}" height="180" />
						<h3 th:text="${items[3].itemName}"></h3>
						<span th:text="${items[3].author}"></span> <span
							class="pull-right" th:text="${items[3].yearPublished}"></span>
					</div>
				</span>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<span style="cursor: pointer">
					<div class="my-list" th:id="${items}"
						th:onclick="'sendItemID(\''+ ${items[4].id} +'\');'">
						<img th:src="@{/images/Book2.jpg}" height="180" />
						<h3 th:text="${items[4].itemName}"></h3>
						<span th:text="${items[4].author}"></span> <span
							class="pull-right" th:text="${items[4].yearPublished}"></span>
					</div>
				</span>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<span style="cursor: pointer">
					<div class="my-list" th:id="${items}"
						th:onclick="'sendItemID(\''+ ${items[5].id} +'\');'">
						<img th:src="@{/images/Book3.jpg}" height="180" />
						<h3 th:text="${items[5].itemName}"></h3>
						<span th:text="${items[5].author}"></span> <span
							class="pull-right" th:text="${items[5].yearPublished}"></span>
					</div>
				</span>
			</div>
		</div>
	</div>

	<div>
		<div class="container">
			<div class="pagination">
				<a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a>
				<a href="#">3</a> <a href="#">4</a> <a href="#">5</a> <a href="#">6</a>
				<a href="#">&raquo;</a>
			</div>
		</div>
	</div>
	<br>
	</br>

	<div class="footer">
		<div class="container">
			<h2>SHS ONLINE LIBRARY SYSTEM</h2>
			<br> </br>
			<div class="column">
				<h4>Quick links</h4>
				<ul>
					<li><a href="displaybooks">Books</a></li>
					<li><a href="displaymagazines">Magazines</a></li>
					<li><a href="displaytheses">Theses</a></li>
					<li><a href="displaymeetingrooms">Meeting Rooms</a></li>
					<li><a href="#">Tips</a></li>
				</ul>
			</div>
			<div class="column">
				<h4>Options</h4>
				<ul>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Contacts</a></li>
					<li><a href="#">Terms & Condition</a></li>
					<li><a href="#">Privacy Policy</a></li>
				</ul>
			</div>
			<div class="column">
				<h4>Follow Us</h4>
				<ul>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">Instagram</a></li>
					<li><a href="#">RSS</a></li>
				</ul>
			</div>
			<div class="column">
				<h4>Newsletter</h4>
				<p>Get on the latest updates on books, magazines, and theses</p>
				<p>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search for...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<span class="glyphicon glyphicon-envelope"></span>
						</button>
					</span>
				</div>
				<!-- /input-group -->
				</p>
			</div>
		</div>
	</div>
</body>

</html>