<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Error</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" media="screen" type="text/css"
	th:href="@{/css/error.css}" />
</head>
<body marginwidth="0" marginheight="0">
	<div id="block_error">
		<div>
			<h2>Error Page. &nbspOops you've have encountered an error</h2>
			<p>
				It appears that Either something went wrong or the page doesn't
				exist anymore..<br /> This web page is temporarily unable to service
				your request as it has exceeded it’s resource limit. Please check
				back shortly.
			</p>
			<p>
				If you are the owner of the account and are regularly seeing this
				error, please read more about it in our <a
					href="http://www.namecheap.com/support/knowledgebase/article.aspx/1128/103/what-happens-when-my-account-reaches-lve-limits-diagnosing-and-resolving">knowledgebase</a>.
				If you have any questions, please contact our Technical Support
				department.
			</p>
		</div>
	</div>
</body>

</html>