<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Login</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" media="screen" type="text/css"
	th:href="@{/css/login.css}" />
<link rel="script" type="text/css" th:href="@{/js/login.js}" />
</head>

<body class="body" style="background-color: #f6f6f6">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="pr-wrap">
					<div class="pass-reset">
						<label> Enter the email you signed up with</label> <input
							type="email" placeholder="Email" /> <input type="submit"
							value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
					</div>
				</div>
				<div class="wrap">
					<p class="form-title">
						<img th:src="@{/images/DLSULOGO.png}" />
					</p>
					<br></br>
					<form th:action="@{/changePasswordForget}" method="POST">
						<input type="password" placeholder="password" id="password"
							name="password" required="required" /> <input type="password"
							placeholder="confirm password" id="checkPassword"
							name="checkPassword" required="required" /> <input type="hidden"
							id="username" name="username" th:value="${user.username}">
						<input type="submit" value="confirm change password"
							class="btn btn-success btn-sm" />

					</form>
				</div>
			</div>
		</div>
		<div class="posted-by">Powered By: SECURDE MP GROUP CHUA, DE
			GUZMAN, NG</div>
	</div>

</body>

</html>