<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>LoginLocked</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" media="screen" type="text/css"
	th:href="@{/css/login.css}" />
<link rel="script" type="text/css" th:href="@{/js/login.js}" />
</head>

<body class="body" style="background-color: #f6f6f6">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="pr-wrap">
					<div class="pass-reset">
						<label> Enter the email you signed up with</label> <input
							type="email" placeholder="Email" /> <input type="submit"
							value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
					</div>
				</div>
				<div class="wrap">
					<p class="form-title">
						<img th:src="@{/images/DLSULOGO.png}" />
					</p>
					<br></br>
					<form th:action="@{/login}" method="POST">
						<input type="text" th:placeholder="username" id="username"
							name="username" required="required" /> <input type="password"
							th:placeholder="password" id="password" name="password"
							required="required" />
							<span>Your Account Has Been Temporarily Locked, Please contact the administrator. Thank you.</span>
							
							 <input type="submit" value="Sign In"
							class="btn btn-success btn-sm" />
						<div align="center" th:if="${param.error}">
							<p style="font-size: 20; color: #FF1C19;">Email or Password
								invalid, please verify</p>
						</div>
						<div class="remember-forgot">
							<div class="row">
								<div class="col-md-6">
									<div class="checkbox">
										<label> <input type="checkbox" /> Remember Me
										</label>
									</div>
								</div>
								<div class="col-md-6 forgot-pass-content">
									<a href="javascription:void(0)" class="forgot-pass">Forgot
										Password</a>
								</div>
							</div>
							<div class="register-row">
								Don't have an account yet? <a href="registration"
									class="register">Register Here!</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="posted-by">Powered By: SECURDE MP GROUP CHUA, DE
			GUZMAN, NG</div>
	</div>

</body>

</html>