<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Results</title>
<link rel="stylesheet" media="screen" type="text/css"
	th:href="@{/css/resultsPage.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
		function sendItemID(id){
			var itemid = id;
			$("#itemID").val(itemid);
			$("#send").submit();
		}
	</script>
</head>

<body class="body" style="background-color: #f6f6f6">
	<form id="send" action="displayitem" method="POST">
		<input type="hidden" name="itemID" id="itemID" />
	</form>

	<div class="nav">
		<ul>
			<li><a th:href="@{/home}">Home</a></li>
			<li><a th:href="@{/displaybooks}">Books</a></li>
			<li><a th:href="@{/displayMagazines}">Magazines</a></li>
			<li><a th:href="@{/displayTheses}">Theses</a></li>
			<li><a th:href="@{/displayMeetingRooms}">Rooms</a></li>
			<li><a th:href="@{/displayAuthors}">Authors</a></li>
			<li><a th:href="@{/displayPublishers}">Publishers</a></li>
			<li style="float: right"><a href="viewAccount"><span
					th:text="${user.username}"></span></a>
			<li style="float: right">
				<form action="search">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search"
							name="search">
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>
					</div>
				</form>
			</li>
		</ul>
	</div>

	<div class="Part1">
		<div class="container">
			<div class="category">
				<h2 id="shsh2">Searches Found</h2>
				<br> </br> <label for="sortBy">Sort By:</label> <select>
					<option value="author">Author</option>
					<option value="publisher">Publisher</option>
					<option value="title">Title</option>
				</select> <label for="sortBy">&nbsp;&nbsp;Filter by:&nbsp;</label> <label><input
					type="checkbox" value="">Books</label> <label><input
					type="checkbox" value="">Magazines</label> <label><input
					type="checkbox" value="">Theses</label>
			</div>
		</div>
	</div>
	<br>
	</br>

	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="my-list" id="${searchResult[0].itemid}"
					onclick="sendItemID(this.id);">
					<img src="Image Resources/Book1.jpg" height="180" />
					<h3>${searchResult[0].itemName}</h3>
					<span>${searchResult[0].author}</span> <span class="pull-right">${searchResult[0].yearPublished}</span>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="my-list" id="${searchResult[1].itemid}"
					onclick="sendItemID(this.id);">
					<img src="Image Resources/Thesis1.jpg" height="180" />
					<h3>${searchResult[1].itemName}</h3>
					<span>${searchResult[1].author}</span> <span class="pull-right">${searchResult[1].yearPublished}</span>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="my-list" id="${searchResult[2].itemid}"
					onclick="sendItemID(this.id);">
					<img src="Image Resources/Mag1.jpg" height="180" />
					<h3>${searchResult[2].itemName}</h3>
					<span>${searchResult[2].author}</span> <span class="pull-right">${searchResult[2].yearPublished}</span>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="my-list" id="${searchResult[3].itemid}"
					onclick="sendItemID(this.id);">
					<img src="Image Resources/Book1.jpg" height="180" />
					<h3>${searchResult[3].itemName}</h3>
					<span>${searchResult[3].author}</span> <span class="pull-right">${searchResult[3].yearPublished}</span>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="my-list" id="${searchResult[4].itemid}"
					onclick="sendItemID(this.id);">
					<img src="Image Resources/Book1.jpg" height="180" />
					<h3>${searchResult[4].itemName}</h3>
					<span>${searchResult[4].author}</span> <span class="pull-right">${searchResult[4].yearPublished}</span>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="my-list" id="${searchResult[5].itemid}"
					onclick="sendItemID(this.id);">
					<img src="Image Resources/Book2.jpg" height="180" />
					<h3>${searchResult[5].itemName}</h3>
					<span>${searchResult[5].author}</span> <span class="pull-right">${searchResult[5].yearPublished}</span>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="my-list" id="${searchResult[6].itemid}"
					onclick="sendItemID(this.id);">
					<img src="Image Resources/Book3.jpg" height="180" />
					<h3>${searchResult[6].itemName}</h3>
					<span>${searchResult[6].author}</span> <span class="pull-right">${searchResult[6].yearPublished}</span>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="my-list" id="${searchResult[7].itemid}"
					onclick="sendItemID(this.id);">
					<img src="Image Resources/Book1.jpg" height="180" />
					<h3>${searchResult[7].itemName}</h3>
					<span>${searchResult[7].author}</span> <span class="pull-right">${searchResult[7].yearPublished}</span>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="container">
			<div class="pagination">
				<a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a>
				<a href="#">3</a> <a href="#">4</a> <a href="#">5</a> <a href="#">6</a>
				<a href="#">&raquo;</a>
			</div>
		</div>
	</div>
	<br>
	</br>

	<div class="footer">
		<div class="container">
			<h2>SHS ONLINE LIBRARY SYSTEM</h2>
			<br> </br>
			<div class="column">
				<h4>Quick links</h4>
				<ul>
					<li><a href="displaybooks">Books</a></li>
					<li><a href="displaymagazines">Magazines</a></li>
					<li><a href="displaytheses">Theses</a></li>
					<li><a href="displaymeetingrooms">Meeting Rooms</a></li>
					<li><a href="#">Tips</a></li>
				</ul>
			</div>
			<div class="column">
				<h4>Options</h4>
				<ul>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Contacts</a></li>
					<li><a href="#">Terms & Condition</a></li>
					<li><a href="#">Privacy Policy</a></li>
				</ul>
			</div>
			<div class="column">
				<h4>Follow Us</h4>
				<ul>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">Instagram</a></li>
					<li><a href="#">RSS</a></li>
				</ul>
			</div>
			<div class="column">
				<h4>Newsletter</h4>
				<p>Get on the latest updates on books, magazines, and theses</p>
				<p>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search for...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<span class="glyphicon glyphicon-envelope"></span>
						</button>
					</span>
				</div>
				<!-- /input-group -->
				</p>
			</div>
		</div>
	</div>
</body>

</html>